<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>

<body>
    <h1>Contactenos</h1>
    <form action="/contact/" method="post">
        {% csrf_token %}
        <label for="subjet">Asunto: </label>
        <input name="subjet" id="subjet" type="text"></p>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email"></p>
        <label for="text-area">Mensaje: </label>
        <textarea name="message" id="text-area" cols="30" rows="10"></textarea>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>